---
---

@import "{{ site.theme }}";

img.avatar {
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.toc {
  @media screen and (min-width: 1200px) {
    float: right;
    margin-right: -260px;
    max-width: 250px;
    position: sticky;
    top: 0;
  }

  ul {
    margin-left: 0px;
  }

  ul, li {
    list-style: none outside none;
  }

  .toc-item-2 {
    margin-left: 0px;
    font-size: 18px;
  }

  .toc-item-3 {
    margin-left: 15px;
    font-size: 17px;
  }

  .toc-item-4 {
    margin-left: 25px;
    font-size: 16px;
  }

  .toc-item-5 {
    margin-left: 35px;
    font-size: 15px;
  }

  .toc-item-6 {
    margin-left: 45px;
    font-size: 14px;
  }
}
